
div {width: 100%;
height:100%;}

div>div:nth-of-type(2){
    
    float: left;
    width: 20%;
    height: 300px;
    background-color:yellow;
}
div>div:nth-of-type(3) {
    float: left;
    width: 80%;
    height: 300px;
    background-image: url(../img/ball.png);
    background-position:top right;
    background-repeat: repeat-y;
    background-size: 9%;
    vertical-align:top;
}
img {
    position:relative ;
    float: left;
}
div>div:nth-of-type(1) {
height: 10vmin;
background-color: aquamarine;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:blue;
}
div>div:nth-of-type(4) {
height: 10vmin;
float: left;
background-color: aquamarine;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:blue;
}
p{
 
    margin:0 10% 0 10%;
}
@media screen and (max-width:700px) {
    div>div:nth-of-type(3) {width:90%;}
    div>div:nth-of-type(2){width:90%;}
    
}
