
div {
    display: block;
    width: 40px;
    height: 40px;
}
#opt1:checked ~ div {
    background-color: red;
}
#opt2:checked ~ div {
    background-color: green;
}
#opt3:checked ~ div {
    background-color: blue;
}