.row {
    clear: both;
    float:left;
    width: 100vw;
    height: 10vh;
}
.cell {
    width: 10vw;
    height: 10vh;
    background-color: white;
}
.black {
    background-color: grey;
}
.l {
    float:left;
}
.r {
    float: right;
}
