body {
   margin: 0;
}
.chess-table{
    display: flex;
     width: 100vmin;
   height: 100vmin;
}
.chess-table>div {
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    width: 100%; 
   height: 10%; 
}
div>div {
    
    width: 100%;
   height: 100%;
}

.chess-table>div:first-child, .chess-table>div>div:first-child, .chess-table>div:last-child, .chess-table>div>div:last-child  {
   background-color: white;
}

.chess-table>div:nth-child(even):not(:last-child)>div:nth-of-type(even):not(:last-child),
.chess-table>div:nth-child(odd):not(:first-child)>div:nth-of-type(odd):not(:first-child) {
   background-color: grey;
}
.chess-table>div:nth-child(3)>div:not(:first-child):not(:last-child):before{
   content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -52vmin 0vmin;
}

.chess-table>div:nth-child(8)>div:not(:first-child):not(:last-child):before{
   content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -52vmin -10vmin;
}

.chess-table>div:nth-child(2)>div:nth-child(2),.chess-table>div:nth-child(2)>div:nth-child(9):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -20vmin 0vmin;
    /*слон черный*/
}

.chess-table>div:nth-child(9)>div:nth-child(2),.chess-table>div:nth-child(9)>div:nth-child(9):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -20vmin -10vmin;
    /*слон белый*/
}

.chess-table>div:nth-child(2)>div:nth-child(3),.chess-table>div:nth-child(2)>div:nth-child(8):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -41vmin 0vmin;
    /*конь черный*/
}
.chess-table>div:nth-child(9)>div:nth-child(3),.chess-table>div:nth-child(9)>div:nth-child(8):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -41vmin -10vmin;
    /*конь белый*/
}

.chess-table>div:nth-child(2)>div:nth-child(4),.chess-table>div:nth-child(2)>div:nth-child(7):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -31vmin 0vmin;
    /*ладья черная*/
}
.chess-table>div:nth-child(9)>div:nth-child(4),.chess-table>div:nth-child(9)>div:nth-child(7):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -31vmin -10vmin;
    /*ладья белая*/
}
.chess-table>div:nth-child(2)>div:nth-child(6):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: 1vmin 0vmin;
    /*королева черная*/
}

.chess-table>div:nth-child(2)>div:nth-child(5):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -10vmin 0vmin;
    /*король черный*/
}

.chess-table>div:nth-child(9)>div:nth-child(6):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: 1vmin -10vmin;
    /*королева белая*/
}

.chess-table>div:nth-child(9)>div:nth-child(5):before{
    content: '';
    display: block;
    background-image: url(../img/chess.png);
    height: 10vmin;
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: -10vmin -10vmin;
    /*король белый*/
}

.chess-table>div:nth-child(2)>div:first-child:before{
  content: '1';
  display: block;
}
.chess-table>div:nth-child(2)>div:last-child:before{
  content: '1';
  display: block;
}
.chess-table>div:nth-child(3)>div:first-child:before{
  content: '2';
  display: block;
}
.chess-table>div:nth-child(3)>div:last-child:before{
  content: '2';
  display: block;
}
.chess-table>div:nth-child(4)>div:first-child:before{
  content: '3';
  display: block;
}
.chess-table>div:nth-child(4)>div:last-child:before{
  content: '3';
  display: block;
}
.chess-table>div:nth-child(5)>div:first-child:before{
  content: '4';
  display: block;
}
.chess-table>div:nth-child(5)>div:last-child:before{
  content: '4';
  display: block;
}
.chess-table>div:nth-child(6)>div:first-child:before{
  content: '5';
  display: block;
}
.chess-table>div:nth-child(6)>div:last-child:before{
  content: '5';
  display: block;
}
.chess-table>div:nth-child(7)>div:first-child:before{
  content: '6';
  display: block;
}
.chess-table>div:nth-child(7)>div:last-child:before{
  content: '6';
  display: block;
}
.chess-table>div:nth-child(8)>div:first-child:before{
  content: '7';
  display: block;
}
.chess-table>div:nth-child(8)>div:last-child:before{
  content: '7';
  display: block;
}
.chess-table>div:nth-child(9)>div:first-child:before{
  content: '8';
  display: block;
}
.chess-table>div:nth-child(9)>div:last-child:before{
  content: '8';
  display: block;
}

.chess-table>div:nth-child(1)>div:nth-child(2):before{
  content: 'a';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(2):before{
  content: 'a';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(3):before{
  content: 'b';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(3):before{
  content: 'b';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(4):before{
  content: 'c';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(4):before{
  content: 'c';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(5):before{
  content: 'd';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(5):before{
  content: 'd';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(6):before{
  content: 'e';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(6):before{
  content: 'e';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(7):before{
  content: 'f';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(7):before{
  content: 'f';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(8):before{
  content: 'g';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(8):before{
  content: 'g';
  display: block;
}
.chess-table>div:nth-child(1)>div:nth-child(9):before{
  content: 'h';
  display: block;
}
.chess-table>div:nth-child(10)>div:nth-child(9):before{
  content: 'h';
  display: block;
}