body {
    background-color: whitesmoke;
}
div {
    display: block;
    position: absolute;
    font-family: serif;
    text-transform: uppercase;
    float: left;
    font-size: 9vh;
}
div:first-of-type {
    display: block;
    width: 15vw;
    height: 15vh;
    left: 50vw;
    top: 10vh;
    background-color: whitesmoke;
}
.small {
    display: block;
    width: 5vw;
    height: 5vh;
    background-color: black;
    
    margin:0;
    border:none;
    
}
div:nth-of-type(2) {
    left: 50vw;
    top: 10vh;
    
}
div:nth-of-type(3)  {
    left: 60vw;
    top: 10vh;
    
}
div:nth-of-type(4) {
    left: 55vw;
    top: 15vh;
    
}
div:nth-child(5) {
    left: 50vw;
    top: 20vh;
    
}
div:nth-child(6) {
    left: 60vw;
    top: 20vh;
    
}


div:nth-of-type(7) {
    top:12vh;
    left: 10vw;
    
}
div:nth-of-type(8) {
    top:12vh;
    left: 40vw;
}
div:nth-of-type(9) {
    top:12vh;
    left: 68vw;
}
